# Python
__pycache__/
*.pyc
*.pyo
.env
venv/

# Node
frontend/node_modules/
frontend/build/

# Large data files
outbreak_model/data/*.geojson
outbreak_model/outputs/*.geojson
outbreak_model/outputs/*.png
outbreak_model/outputs/*.csv

# Mac
.DS_Store
